body{
  overflow: hidden;
  margin: 0;
}
.container{
  position:absolute;
  top: 30px;;
  left: 25px;
  /* height:80%; */
  /* width:30%; */
  color:white;
  font-family:cursive;
}

#text1{
  width: 100%;
  font-size: 60px;
}


#text2{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    font-size: 50px;
text-align: center;
color:#f0f00a;
font-family:cursive;
}


h1 {
  font-weight: normal;
  font-size: 4rem;
  margin-top: 5rem;
}

.countdown-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.big-text {
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 1rem 2rem;
}

.countdown-el {
  text-align: center;
}

.countdown-el span {
  font-size: 1.3rem;
}
